.container {
    display: flex;
    justify-content: space-between;

    height: 100vh;
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: calc(100vw - 640px);
}

.right {
    width: 640px;
}

.container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 476px;
    height: 500px;
}

form {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
    margin-top: 16px;
}

form input {
    width: 100%;
    height: 51px;
    border: 1px solid #E8E8E8;
    border-radius: 6px;

    padding: 16px;
    margin-top: 16px
}

.container-input-password {
    position: relative;
}

.eye-icon {
    width: 24px;
    position: absolute;
    right: 16px;
    top: 30px;

    cursor: pointer;
}

.container-btn {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 72px;
}

.container-link {
    margin-top: 96px;
}

.container-link a {
    margin-left: 5px;
}

.error-message {
    color: red;
    margin-top: 16px;

}